<%= form_with(model: @task, local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.datetime_field :expired_at %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status,  [["Not started", "Not started"], 
                                ["In progress", "In progress"], 
                                ["Completed", "Completed"]],
                                { include_blank: " "} %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.select :priority, Task.priorities.keys.to_a, { include_blank: " "}%>
  </div>

<br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
