<br>
  <h1>ユーザー管理画面</h1>
<%= link_to 'ユーザーを登録する',new_admin_user_path %>

<table class="table table-striped">
    <tr>
      <th>NAME</th>
      <th>MEILS</th>
      <th>TASK COUNT</th>
      <th>MANAGEMENT</th>
      <th>SHOW</th>
      <th>EDIT</th>
      <th>DESTROY</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.tasks.count %></td>
        <td><%= user.admin %></td>
        <td><%= link_to 'Show', admin_user_path(user) %></td>
        <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
        <td><%= link_to 'Destroy', admin_user_path(user), method: :delete, date: { confirm: '本当に削除してもいいですか？' } %></td>
      </tr>
    <% end %>
</table>